.btn-outline-orange {
    color: #DF3A01 !important;
    border: 2px solid #DF3A01 !important;
}

.btn-orange {
    color: white !important;
    background-color: #DF3A01 !important;
}

.bg-orange {
    background-color: #DF3A01 !important;
    color: white !important;
}

.text-orange {
    color: #DF3A01 !important;
}

.text-darkgrey {
    color: #565656 !important;
}

.text-red {
    color: red !important;
}

.bg-darkgrey {
    background-color: #565656 !important;
    color: white !important;
}

.btn-darkgrey {
    color: white !important;
    background-color: #565656 !important;
}

/* For navbar */
.fixed-top {
    position: absolute !important;
}

.sidebar-items {
    background-color: #DF3A01 !important;
    color: white !important;
}

.sidebar-item-active {
    background-color: white !important;
    color: #DF3A01 !important;
    border-radius: 25px !important;
}

.list-group-flush .list-group-item {
    border: 0 !important;
}

.table-loader {
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-parent {
    display: none;
}

.loader-spinner {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #DF3A01; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Pagination */
.pagination {
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0 !important;
}

.pagination .page-item .page-link {
    border-style: solid;
    border-width: 1px !important;
    border-color: lightgrey;
}

.flex-this {
    display: flex;
    justify-content: space-between;
    align-items: center;
}