.btn-outline-orange {
    color: #DF3A01 !important;
    border: 2px solid #DF3A01 !important;
}

.btn-orange {
    color: white !important;
    background-color: #DF3A01 !important;
}

.text-orange {
    color: #DF3A01 !important;
}

.text-darkgrey {
    color: #565656 !important;
}

.bg-darkgrey {
    background-color: #565656 !important;
    color: white !important;
}

/* For navbar */
.fixed-top {
    position: absolute !important;
}