.btn-outline-orange {
    color: #DF3A01 !important;
    border: 2px solid #DF3A01 !important;
}

.btn-orange {
    color: white !important;
    background-color: #DF3A01 !important;
}

.bg-orange {
    background-color: #DF3A01 !important;
    color: white !important;
}

.text-orange {
    color: #DF3A01 !important;
}

.text-darkgrey {
    color: #565656 !important;
}

.bg-darkgrey {
    background-color: #565656 !important;
    color: white !important;
}

.btn-darkgrey {
    color: white !important;
    background-color: #565656 !important;
}

/* For navbar */
.fixed-top {
    position: absolute !important;
}

.sidebar-items {
    background-color: #DF3A01 !important;
    color: white !important;
}

.sidebar-item-active {
    background-color: white !important;
    color: #DF3A01 !important;
    border-radius: 25px !important;
}

.list-group-flush .list-group-item {
    border: 0 !important;
}

.loaderparent {
    display: none;
}

.loader {
    z-index: 1051;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: grey;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loader-spinner {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #DF3A01; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}